html {
    font-size: 20px;
    background-color: white;
}

input[type=text] {
    border-style: solid;
    margin: 0px;
    padding: 4px;
    border-color: #aaa;
    border-width: 1px 0px 1px 1px;
    flex-basis: 100%;
    font-size: 1rem;
    box-sizing: border-box;
    min-width: 0;
}

input[type=text]:focus {
    box-sizing: border-box;
    border-color: #b3b3ff;
    box-shadow: 0px 0px 4px 1px #b3b3ff;
}

.findInput {
    margin: 4px;
    background-color: green;
    flex-basis: 10%;
    min-width: 0;
}

.testd1 {
    margin: 4px;
    background-color: yellow;
    flex-basis: 10%;
}

.find-img {
    width: 30px;
    height: 30px;
    margin-bottom: -2px;
}

.find-button {
    border-style: solid;
    border-color: #aaa;
    border-width: 1px 1px 1px 1px;
    background-color: #ddd;
    width: 70px;
    margin: 0px;
    border-radius: 0px;
    text-decoration: none;
    text-align: center;
    min-width: 0;
}

.find-button:hover,
.clear-button:hover {
    background-color: #e6e6ff;
}

.find-button:active,
.clear-button:active {
    /* padding: 50% 50% 50% 50%; */
    background-color: #ccccff;
}

.clear-button {
    /* padding: 1px 6px 1px 6px; */
    border-style: solid;
    border-color: #aaa;
    border-width: 1px 1px 1px 1px;
    background-color: #ddd;
    white-space: nowrap;
    font-size: 1rem;
    margin: 0px;
    text-align: center;
    border-radius: 4px 4px 4px 4px;
    text-decoration: none;
    width: 130px;
}

.results {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 0px;
    white-space: nowrap;
    flex-basis: 100%;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1rem;
    text-align: left;
    vertical-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 4px;
}

.result-text {
    margin-left: 10px;
    /* border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: darkred; */
}

.results2 {
    margin-left: 0px;
    white-space: nowrap;
    flex-basis: 24%;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1rem;
    text-align: right;
    vertical-align: bottom;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 4px;
}

.options-size {
    /* border-style: solid;
    border-width: 0px 0px 4px 0px;
    border-color: var(--option-arrow-stroke); */
    opacity: 0.15;
    background-color: white;
    fill: var(--option-arrow-fill);
    stroke: var(--option-arrow-stroke);
    stroke-miterlimit: 10;
    stroke-width: 10px;
    padding-right: 15px;
}

.options-size.selected {
    opacity: 1.0;
}

.options-size.small {
    /* margin: 5px; */
    padding-top: 30px;
    padding-left: 5px;
    width: 25px;
    height: 25px;
    /* padding: 30px 40px 5px 5px; */
}

.options-size.medium {
    /* margin: 5px; */
    padding-top: 20px;
    padding-left: 5px;
    width: 35px;
    height: 35px;
    /* padding: 20px 20px 5px 5px; */
}

.options-size.large {
    /* margin: 5px; */
    /* padding-top: 20px; */
    width: 50px;
    height: 50px;
    /* padding: 5px 20px 5px 5px; */
}

.options-color {
    margin: 5px 2px 5px 0px;
    width: 25px;
    height: 25px;
    border-style: solid;
    border-width: 5px;
    border-radius: 8px;
    opacity: .15;
}

.options-color.selected {
    opacity: 1.0;
}

.options-color.c01 {
    background-color: yellow;
    border-color: black;
}

.options-color.c02 {
    background-color: black;
    border-color: yellow;
}

.options-color.c03 {
    background-color: rgb(255, 0, 255);
    border-color: rgb(102, 0, 102);
}

.options-color.c04 {
    background-color: rgb(102, 0, 102);
    border-color: rgb(255, 0, 255);
}

.options-color.c05 {
    background-color: rgb(255, 204, 0);
    border-color: rgb(51, 51, 255);
}

.options-color.c06 {
    background-color: rgb(51, 51, 255);
    border-color: rgb(255, 204, 0);
}

.options-color.c07 {
    background-color: rgb(51, 102, 255);
    border-color: rgb(51, 102, 255);
}

.options-color.c08 {
    background-color: rgb(102, 255, 51);
    border-color: rgb(102, 255, 51);
}

.options-color.c09 {
    background-color: rgb(255, 0, 255);
    border-color: rgb(255, 0, 255);
}

.options-color.c10 {
    background-color: rgb(204, 0, 102);
    border-color: rgb(255, 255, 255);
}

.options-color.c11 {
    background-color: rgb(255, 255, 255);
    border-color: rgb(204, 0, 102);
}

.start {
    border-radius: 4px 0px 0px 4px;
}

.end {
    border-radius: 0px 4px 4px 0px;
}

button {
    outline: 0;
}

.flex-container {
    display: flex;
    align-content: stretch;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: nowrap;
    font-size: 0;
    margin-top: 5px;
    min-height: 36px;
    /* border-style: solid;
    border-color: darkred; */
}

.flex-container-colors {
    display: flex;
    align-content: stretch;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: nowrap;
    font-size: 0;
    margin-top: 5px;
    min-height: 36px;
    /* border-style: solid;
    border-color: darkred; */
}

.flex-container3 {
    display: flex;
    align-content: stretch;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    font-size: 0;
    margin-top: 5px;
    min-height: 36px;
    /* border-style: solid;
    border-color: darkred; */
}

.flex-container2 {
    display: flex;
    align-content: stretch;
    align-items: flex-end;
    justify-content: flex-start;
    flex-wrap: nowrap;
    font-size: 0;
    margin-top: 5px;
    min-height: 36px;
}

.svg-color {
    fill: var(--option-arrow-fill);
    stroke: var(--option-arrow-stroke);
    stroke-miterlimit: 10;
    stroke-width: 10px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 12px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.lds-facebook {
    /* display: inline-block; */
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    position: relative;
    width: 80px;
    height: 35px;
    /* border-style: solid; */
}

.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: rgb(162, 137, 255);
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}

@keyframes lds-facebook {
    0% {
        /* top: 8px; */
        /* top: 50%; */
        height: 30px;
    }
    50%,
    100% {
        /* top: 50%; */
        height: 5px;
    }
}